In [4]:
import pandas as pd
from sqlalchemy import create_engine

# Read JSON data into DataFrame
df_json = pd.read_json("https://opendata.ecdc.europa.eu/covid19/nationalcasedeath/json/")

# Split 'year_week' column into 'year_' and 'week_' columns
split_columns = df_json['year_week'].str.split('-', expand=True).rename(columns={0: 'year_', 1: 'week_'})

# Concatenate split columns with original DataFrame
df_j = df_json.drop(['year_week', 'source', 'note'], axis=1, inplace=True)
df_j = pd.concat([df_json, split_columns], axis=1)

# Display the updated DataFrame
df_j

,country,country_code,continent,population,indicator,weekly_count,cumulative_count,rate_14_day,year_,week_
0,Austria,AUT,Europe,8978929,cases,NaN,NaN,NaN,2020,01
1,Austria,AUT,Europe,8978929,cases,NaN,NaN,NaN,2020,02
2,Austria,AUT,Europe,8978929,cases,NaN,NaN,NaN,2020,03
3,Austria,AUT,Europe,8978929,cases,NaN,NaN,NaN,2020,04
4,Austria,AUT,Europe,8978929,cases,NaN,NaN,NaN,2020,05
...,...,...,...,...,...,...,...,...,...,...
12643,Sweden,SWE,Europe,10452326,deaths,87.0,25139.0,13.2985,2023,43
12644,Sweden,SWE,Europe,10452326,deaths,101.0,25240.0,17.9864,2023,44
12645,Sweden,SWE,Europe,10452326,deaths,167.0,25407.0,25.6402,2023,45
12646,Sweden,SWE,Europe,10452326,deaths,160.0,25567.0,31.2849,2023,46
12647,Sweden,SWE,Europe,10452326,deaths,1.0,25568.0,15.4033,2023,47

In [ ]:
connection_string = "postgresql://postgres:admin123@127.0.0.1:5432/covid_19_cases"

engine = create_engine(connection_string)

table_name = "covid_data"

df_j.to_sql(table_name, connection_string, if_exists='append', index=False)

In [1]:
import pandas as pd
from sqlalchemy import create_engine

df_c = pd.read_csv("./countries_of_the_world.csv")
df_c.drop(['Coastline (coast/area ratio)', 'Infant mortality (per 1000 births)', 'Phones (per 1000)', 'Literacy (%)'], axis=1, inplace=True)

df_c.head()

,id,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Net migration,GDP ($ per capita),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,1,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,23.06,700.0,12.13,0.22,87.65,1.0,46.60,20.34,0.38,0.24,0.38
1,2,Albania,EASTERN EUROPE,3581655,28748,124.6,-4.93,4500.0,21.09,4.42,74.49,3.0,15.11,5.22,232.00,188.00,579.00
2,3,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,-0.39,6000.0,3.22,0.25,96.53,1.0,17.14,4.61,101.00,0.60,298.00
3,4,American Samoa,OCEANIA,57794,199,290.4,-20.71,8000.0,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,5,Andorra,WESTERN EUROPE,71201,468,152.1,6.60,19000.0,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN

In [2]:
connection_string = "postgresql://postgres:admin123@127.0.0.1:5432/covid_19_cases"

engine = create_engine(connection_string)

table_name = "countries_of_the_world"

df_c.to_sql(table_name, connection_string, if_exists='append', index=False)

227