In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Read JSON data into DataFrame
df_json = pd.read_json("https://opendata.ecdc.europa.eu/covid19/nationalcasedeath/json/")

# Split 'year_week' column into 'year_' and 'week_' columns
split_columns = df_json['year_week'].str.split('-', expand=True).rename(columns={0: 'year_', 1: 'week_'})

# Concatenate split columns with original DataFrame
df_j = df_json.drop(['year_week', 'source', 'note'], axis=1, inplace=True)
df_j = pd.concat([df_json, split_columns], axis=1)

# Display the updated DataFrame
df_j

In [15]:
connection_string = "postgresql://postgres:admin123@127.0.0.1:5432/covid_19_cases"

engine = create_engine(connection_string)

table_name = "covid_data"

df_j.to_sql(table_name, connection_string, if_exists='append', index=False)

648

In [ ]:
df_csv = pd.read_csv("./countries_of_the_world.csv")

df_csv

In [19]:
connection_string = "postgresql://postgres:admin123@127.0.0.1:5432/covid_19_cases"

engine = create_engine(connection_string)

table_name = "countries_of_the_world"

df_csv.to_sql(table_name, connection_string, if_exists='append', index=False)

227