In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Read JSON data into DataFrame
df_json = pd.read_json("https://opendata.ecdc.europa.eu/covid19/nationalcasedeath/json/")

# Split 'year_week' column into 'year_' and 'week_' columns
split_columns = df_json['year_week'].str.split('-', expand=True).rename(columns={0: 'year_', 1: 'week_'})

# Concatenate split columns with original DataFrame
df_j = df_json.drop(['year_week', 'source', 'note'], axis=1, inplace=True)
df_j = pd.concat([df_json, split_columns], axis=1)

# Display the updated DataFrame
df_j

In [15]:
connection_string = "postgresql://postgres:admin123@127.0.0.1:5432/covid_19_cases"

engine = create_engine(connection_string)

table_name = "covid_data"

df_j.to_sql(table_name, connection_string, if_exists='append', index=False)

648

In [18]:
import pandas as pd
from sqlalchemy import create_engine

df_csv = pd.read_csv("./countries_of_the_world.csv")

df_csv

,id,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),...,Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,1,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,...,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.38,0.24,0.38
1,2,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,...,71.2,21.09,4.42,74.49,3.0,15.11,5.22,232.00,188.00,579.00
2,3,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,...,78.1,3.22,0.25,96.53,1.0,17.14,4.61,101.00,0.60,298.00
3,4,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,...,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,5,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,...,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,223,West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,...,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.09,0.28,0.63
223,224,Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,NaN,NaN,NaN,...,NaN,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.40
224,225,Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.0,...,37.2,2.78,0.24,96.98,1.0,42.89,8.30,135.00,472.00,393.00
225,226,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800.0,...,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.22,0.29,489.00
226,227,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900.0,...,26.8,8.32,0.34,91.34,2.0,28.01,21.84,179.00,243.00,579.00

In [19]:
connection_string = "postgresql://postgres:admin123@127.0.0.1:5432/covid_19_cases"

engine = create_engine(connection_string)

table_name = "countries_of_the_world"

df_csv.to_sql(table_name, connection_string, if_exists='replace', index=False)

227